# Data
data/*.csv
data/*.zip
.full_report.md

# Models
models/fraud_pipeline_model/
models/fraud_pipeline_model_alt/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# IDE
.vscode/
.idea/
.ipynb_checkpoints/

# Docker volumes
namenode_data/
datanode_data/

# OS
.DS_Store
Thumbs.db

# Spark
spark-warehouse/
.spark-test/
metastore_db/
derby.log

# MLflow
mlruns/
